.face {
    display: flex;
    justify-content: center;
}

.textbox {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
}

.text {
    position: absolute;
    left: 50%;                        /* horizontal alignment */
    top: 50%;                         /* vertical alignment */
    transform: translate(-50%, -50%); /* precise centering; see link below */
    font-family: 'Indie Flower', cursive;
    font-size:24px;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #bbb1ab;
    border-top: 0;
    margin-left: -20px;
    margin-top: -20px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.block {
    display: block;
    width: 25%;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;

}

.block:hover {
    background-color: #ddd;
    color: black;
}

/* Disable Blue outline on button in chrome*/
.block:focus{
    outline: none;
}

/* Disable Blue outline on button in chrome*/
input:focus{
    outline: none;
}